
.thumbImage {
    height: 60px;
    width: 60px;
}

.thumbImageDetails{
    height: 150px;
    width: 150px;
}

#container {
    margin: 15px;
}

#form label {
    font-weight: bold;
    display: block;
}

tr.myRow{
    border-color: #D8D8D8;
    border-style: solid;
    border-width: 1px 0 0;
    line-height:2em;
    font-size:14px;
}

td:first-child{
    padding-left:30px;
}


.newsTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}