{% extends 'base.html.twig' %}

{% block title %}Category and its News{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th colspan="5" class="categoryTitle"><b><a href="{{ path('news_by_category', {categoryId: category.id}) }}"> {{ category.title }} </a></b></th>
            </tr>
            {% if news[category.id]|length > 0 %}
                {% for product in news[category.id] %}
                    <tr class="myRow">
                        <td>
                        {% if product.image == 'NO_IMG_600x600.png' %}
                            <img src="{{ asset('uploads/' ~  product.image) }}" class="thumbImage"  />
                        {% else %}
                            <img src="{{ asset('uploads/images/' ~  product.image) }}" class="thumbImage"  />
                        {% endif %}
                        </td>
                        <td><a href="{{ path('news_show', {id: product.id}) }}"> {{ product.title }} </a></td>
                        <td>{{ product.getDescriptionShort }}</td>
                    </tr>
                {% endfor  %}
            {% else %}
                <tr class="myRow">
                    <td colspan="2"><i>No news in this category</i></td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no categories found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
