{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
        {{ include('category/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
