{% extends 'base.html.twig' %}

{% block title %}News {% endblock %}

{% block body %}
    <h1>News </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Title</th>
                <th>Short Description</th>
                <th>Datetime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itemNews in news %}
            <tr>
                <td>{% if itemNews.image == 'NO_IMG_600x600.png' %}
                        <img src="{{ asset('uploads/' ~  itemNews.image) }}" class="thumbImage"  />
                    {% else %}
                        <img src="{{ asset('uploads/images/' ~  itemNews.image) }}" class="thumbImage"  />
                    {% endif %}</td>
                <td>{{ itemNews.getCategory() }}</td>
                <td><a href="{{ path('news_show', {id: itemNews.id}) }}">{{ itemNews.title }}</a></td>
                <td>{{ itemNews.descriptionShort }}</td>
                <td>{{ itemNews.datetime ? itemNews.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': itemNews.id}) }}" class="btn btn-dark">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if maxPages > 1 %}
        <ul class="pagination">
            {# `«` arrow  #}
            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('news_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}" class="page-link">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}
                <li {{ thisPage == i ? 'class="page-item active"' :  'class="page-item"' }}>
                    <a href="{{ path('news_index', {page: i}) }}" class="page-link">{{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a href="{{ path('news_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}" class="page-link">»</a>
            </li>
        </ul>
    {% endif %}

    <!--
    <br><hr><br>
    <a href="{{ path('news_new') }}" class="btn btn-info">Create new</a>
    -->
{% endblock %}



