{% extends 'base.html.twig' %}

{% block title %}Create News{% endblock %}

{% block body %}
    <h1>Create News</h1>

    {{ include('news/_form.html.twig') }}

    <a href="{{ path('news_index') }}">back to list</a>
{% endblock %}
