{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th rowspan="5" style="width: 160px;">
                {% if news.image == 'NO_IMG_600x600.png' %}
                    <img src="{{ asset('uploads/' ~  news.image) }}" class="thumbImageDetails" />
                {% else %}
                    <img src="{{ asset('uploads/images/' ~  news.image) }}" class="thumbImageDetails" />
                {% endif %}
            </th>
        </tr>
            <tr>
                <td class="newsTitle">{{ news.title }}</td>
            </tr>
            <tr>
                <td>{{ news.descriptionShort }}</td>
            </tr>
            <tr>
                <td>
                    <hr>
                    {{ news.descriptionLong }}</td>
            </tr>
            <tr>
                <td>{{ news.datetime ? news.datetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('news_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="/admin/?action=edit&entity=News&id={{ news.id}}" class="btn btn-info">edit</a>
    {% endif %}

    <br><hr><br>

    <!-- comment form -->
    <form class="comment-text" method="post" >
        {{ form_widget(form) }}
        <button id="contact-submit" type="submit" class="btn btn-primary">Send Comment</button>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="show-article-container p-3 mt-4">

                    <div class="row">
                        <div class="col-sm-12">
                            <h3><i class="pr-3 fa fa-comment"></i>Total: {{ news.comments|length }} Comments</h3>

                            {% for comment in news.comments %}
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="comment-container d-inline-block pl-3 align-top">
                                        <span class="comment"> {{ comment.comment }}</span>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



