<h1>Here is your TOP 10 news!</h1>

{% apply inky_to_html|inline_css(source('@css/email.css')) %}
    <container>
        {# Header #}
        <hr>
        <spacer size="20"></spacer>
        <row>
            <columns>
                <p>
                    Here's top 10 news this week
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <table border="1">
                    {% if top10news > 0 %}
                        {% for news in top10news %}
                            <tr>
                                <th> {{  news.id }} </th>
                                <th class="title"> {{  news.title }} </th>
                                <th> {{  news.getDescriptionShort() }} </th>
                            </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <th><i>no news found</i></th>
                    </tr>
                    {% endif %}
                </table>
            </columns>
        </row>
        {# Footer #}
    </container>
{% endapply %}

